[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb
[submodule "lib/rocket"]
	path = lib/rocket
	url = https://github.com/rocket/rocket
[submodule "lib/cglm"]
	path = lib/cglm
	url = https://github.com/recp/cglm
